body {
	font: Verdana;
	font-size: 40px;
	color: #4D2C03;
	margin:0px;
	padding:0px;
}
#section1 {
    height: 550px;
    text-align: center;
    background-color: #B2D3FC;
		border-bottom-width: medium;
		border-bottom-style: solid;
		border-bottom-color: #4D2C03;
		display: flex;
		flex-direction: column;
}
#square {
	height:100px;
	width: 100px;
	background-color: #4D2C03;
	margin: auto;
	flex: 0 1 auto;
}
#name {
	margin: auto;
	flex: 0 2 auto;

}

.nav {
	display: flex;
	flex: 0 3 auto;

}


.nav ul{
	list-style-type: none;
	width: 100%;
	background-color: #4D2C03;
	display: flex;
	flex-direction: row;
	align-self: flex-end;
}
.nav li {
	display: inline;
	flex: 20%;
}

.nav li a {
	text-decoration: none;
	color: #B2D3FC;
	padding: 0px 130px;

}
li a:hover {
    background-color: #B2D3FC;
    color: white;
}

#section2 {
    position: relative;
    height: 500px;
    text-align: center;
		border-bottom-width: medium;
		border-bottom-style: solid;
		border-bottom-color: #4D2C03;
}
#section2 p {
	margin: 140px 0px;
}



#section3 {
    position: relative;
    height: 500px;
    text-align: center;
		border-bottom-width: medium;
		border-bottom-style: solid;
		border-bottom-color: #4D2C03;
}
#section3 p {
	margin: 140px 0px;
}


#section4 {
    position: relative;
    height: 500px;
    text-align: center;
		border-bottom-width: medium;
		border-bottom-style: solid;
		border-bottom-color: #4D2C03;
}
#section4 p {
	margin: 140px 0px;
}





.text {
    position: absolute;
    top: 0;
    bottom: 5;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    font-weight: bold;
}

/*Begin map section */

#section5 {
    position: relative;
    margin-top: 20px;
}

#holder {
	display: inline-block;
	width: 30%;
	background-color: #B2D3FC;
	height: 400px;
	position: relative;
	border-radius: 25px 0px 0px 25px;
}

#maptext {

	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 400px;
    margin: auto;
    font-weight: bold;
    text-align: center;
}

#map {
 	display: inline-block;
    width: 70%;
    height: 400px;
    background-color: #CCC;
    float: right;
 }

/*End map section */
